<template>
  <div class="row">
    <div class="col-md-12">
      <form @submit.stop.prevent="inputCommand" class="transcript" v-if="nextQuestion">
        <label class="col-form-label text-warning">{{nextQuestion}}</label>
        <input class="form-control" v-model="answer">
        <button type="submit" class="mt-3 btn btn-outline-primary">{{questionIndex >= this.allQuestions.length - 1 ? `create ${questionType}` : 'Confirm Command'}}</button>
      </form>
    </div>
  </div>
</template>
<script src="./question.component.ts"/>
